*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f8fafc;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 10%;
    background:#1e293b;
}

.logo{
    color:white;
    font-size:24px;
    font-weight:bold;
}

.nav-links{
    display:flex;
    list-style:none;
}

.nav-links li{
    margin-left:20px;
}

.nav-links a{
    color:white;
    text-decoration:none;
}

.menu-toggle{
    display:none;
    color:white;
    font-size:28px;
    cursor:pointer;
}

.hero{
    text-align:center;
    padding:100px 20px;
    background:#6f5fc6;
    color:white;
}

.hero h1{
    font-size:42px;
    margin-bottom:20px;
}

.hero p{
    margin-bottom:25px;
}

.btn{
    background:white;
    color:#6f54d1;
    padding:12px 25px;
    border-radius:5px;
    text-decoration:none;
}

.stats{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:20px;
    padding:50px 10%;
}

.card{
    background:rgb(25, 26, 78);
    padding:30px;
    text-align:center;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

.card h2{
    color:#2563eb;
    margin-bottom:10px;
}

.features{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
    padding:50px 10%;
}

.feature-box{
    background:rgb(58, 32, 32);
    padding:25px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

footer{
    background:#1e293b;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:50px;
}

table{
    width:100%;
    border-collapse:collapse;
    margin-top:20px;
}

table th,
table td{
    border:1px solid #ddd;
    padding:12px;
}

table th{
    background:#2563eb;
    color:white;
}

.form-container{
    width:90%;
    max-width:600px;
    margin:30px auto;
    background:white;
    padding:30px;
    border-radius:10px;
}

input,
textarea,
select{
    width:100%;
    padding:10px;
    margin:10px 0;
}

button{
    background:#381a68;
    color:white;
    border:none;
    padding:12px 20px;
    cursor:pointer;
}

.dashboard-cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
    gap:20px;
    padding:30px;
}

.dashboard-card{
    background:white;
    padding:25px;
    border-radius:10px;
    text-align:center;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

@media(max-width:768px){

    .nav-links{
        display:none;
        flex-direction:column;
        position:absolute;
        top:60px;
        left:0;
        width:100%;
        background:#1e293b;
    }

    .nav-links.active{
        display:flex;
    }

    .nav-links li{
        margin:15px 0;
        text-align:center;
    }

    .menu-toggle{
        display:block;
    }

    .hero h1{
        font-size:30px;
    }
}